/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #005bad;
}

#messageContent {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

.log-container {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
}

.log-container h2 {
    margin-bottom: 10px;
}

.log-message {
    margin-bottom: 5px;
}

.user-message {
    color: #007bff;
}

.server-message {
    color: #28a745;
}

.error-message {
    color: #dc3545;
}
